{{- $resume := index $.Site.Data.resumic .File.BaseFileName -}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ with $resume.personal.name }} {{ . }} {{ end }} resume
        </title>
        
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
        <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
        <link rel="shortcut icon" href="/images/favicon.ico">  
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
        <!-- FontAwesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        <!-- Global CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <!-- Theme CSS -->  
        <link id="theme-style" rel="stylesheet" href="/css/orbit-6.css">
    </head> 

    <body>
        <div class="wrapper">
            <div class="sidebar-wrapper">
                {{ partial "profile" $resume }}
                {{ partial "contant" $resume }}
                {{ partial "education" $resume }}
                {{ partial "languages" $resume }}
                {{ partial "interests" $resume }}
            </div>
            
            <div class="main-wrapper">
                {{ partial "summary" $resume }}
                {{ partial "experiences" $resume }}
                {{ partial "projects" $resume }}
                {{ partial "skills" $resume }}
            </div>
        </div>
    
        <footer class="footer">
            <div class="text-center">
                    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other commercial license options via our website: themes.3rdwavemedia.com */-->
                    <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
            </div>
        </footer>
            
    </body>
</html> 